<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Alternate Google Webfonts -->
		<!-- //@import url(href='http://fonts.googleapis.com/css?family=Arvo:400,700');
		//@import url(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great');
		//@import url(href='http://fonts.googleapis.com/css?family=Bree+Serif');
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="#home">HOME</a></li>
        <li><a href="#music">MUSIC</a></li>
        <li><a href="#email">EMAIL</a></li>
        <li><a href="#otherMedia">OTHER MEDIA</a></li>
        <li><a href="#bios">BIOS</a></li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<div class="slide1" id="home">
	<div style="height: 200px">
	</div>
		<h1 class="bandname">HOTTER THAN THAT</h1>
			<div class="subheading">
				<i>A Traditional Jazz Ensemble</i>
			</div>	
</div>

	<div class="container">
	  <div class="row">
	  	<div class="col-md-1">
	  	</div>
			<div class="col-md-11">

	  		<div id="music"><h3 class="titletext">I CAN'T GIVE YOU ANYTHING BUT LOVE</h3></div>
	  		<br>
	  		<h4 class="bodytext">
	  			<i>by Jimmy McHugh and Dorothy Fields</i>
	  		</h4>
	  		<br>
			</div> 
		</div>
	</div>
	
	 <!-- <div class="container">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<div class='embed-container'>
					<iframe src='http://www.youtube.com/embed/3HuFf7medyA' frameborder='0' allowfullscreen="true">
					</iframe>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div> -->

	<div class="container">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<div class="embed-responsive embed-responsive-16by9">
  				<iframe width="560" height="315" src="//www.youtube.com/embed/awp1WmNs0ZM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div> 

<div class="slide3" id="email">
	<div class="container">
	  <div class="row">
			
			<div class="col-md-1">
			</div>			
			
			<div class="col-md-10" style="padding-top: 70px">
				<h3 class="titletext" style="color: white;">EMAIL</h3>
	  		<br>
	  		<h4 class="bodytext" style="color: white;">
	  			<i>For inquiries regarding booking, feedback, or anything else.</i>
	  		</h4>
	  		<br>
	  		<h4 class="titletext" style="color: white;">
	  			hotterthanthatmusic@gmail.com
	  		</h4>
	  		<br>
			</div>
			
			<div class="col-md-1">
			</div>
		</div>  
	</div>
</div>

	<div class="container" id="otherMedia">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<h3 class="titletext">OTHER MEDIA</h3>
	  		<br>
	  		<h4 class="bodytext">
	  			<i>Visit us on Facebook, Twitter, and YouTube.</i>
	  		</h4>
	  		<br>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div>


	<div class="container" style="margin-bottom: 70px">
	  <div class="row">

			<div class="col-md-3">
			</div>
			
			<div class="col-md-6">
				<div class="glyphs">
		  		<a href="https://www.facebook.com/hotterthanthatmusic" class="FBglyphLinks"><i class="fa fa-facebook-square fa-5x"></i></a>
		  		
		  		<a href="https://twitter.com/HTTmusic" class="TWglyphLinks"><i class="fa fa-twitter-square fa-5x"></i></a>
		  		
		  		<a href="https://www.youtube.com/watch?v=awp1WmNs0ZM" class="YTglyphLinks"><i class="fa fa-youtube-square fa-5x"></i></a>
		  	</div>	
		  </div>
		  
		  <div class="col-md-3">
		  </div>

		</div>  
	</div> 

		<div class="container" id="bios">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<h3 class="titletext">BIOS</h3>
	  		<br>
	  		<h4 class="bodytext">
	  			<p><i>Jon Tippens</i></p>
	  			<img src="<%= asset_path( 'jon.jpg' ) %>" width="240" border="0" align="left" style="padding:12px"/>
	  			<p>
<br><br>Jon is a jazz pianist and clarinettist. Performing mostly around the DC-Baltimore area, he plays a wide range of music including jazz, funk, soul, hip hop, motown, and rock. <br><br>Over the years Jon has had the opportunity to open for The Bridge, the Pietasters, Papa Grows Funk, Vanessa Carlton, and many others. Jon has added diverse venues to his Baltimore performance list including the 8x10 Club, the Windup Space, the Waterfront Hotel, Hon Cafe, Mum's, the Peabody Library, Joe Squared, the Marriott Waterfront Hotel, and the Elkridge Club. In the DC/Arlington area, Jon has frequented such venues as Columbia Station, the Black Cat, Bossa, and the Tortoise and the Hare.<br><br>Jon has also played for outdoor shows such as Artscape, the Arlington County Fair, Rockville's Hometown Holidays, and more. <br><br><br><br>Jon studied jazz piano with Baltimore favorite Brian Simms as well as DC's acclaimed pianists Jon Ozment and Ron Elliston. 
	  			</p><br>
	  			<p><i>Chris Chlumsky</i></p>
	  			<img src="<%= asset_path( 'chris.jpg' ) %>" width="240" border="0" align="left" style="padding:12px"/>
	  			<p>
A native of south central Pennsylvania, Chris first began studying the double bass at the age of 8 and accelerated to a level where he was already performing professional gigs while still in middle school and winning several local competitions. Pursuing electric bass later in high school, Chris began performing with his church folk group (Daystar), local theater companies and outside festival bands. Obviously realizing his love of music, he quickly decided to continue his music studies at the prestigious Curtis Institute of Music receiving his BM and later graduate school at the Peabody Conservatory of Music. Before Peabody, he decided to accept a position as the assistant principal of the Orquestra Sinfonica de Galicia in Spain were he remained for almost two years. Before finishing his graduate studies, he had won a position with the Toledo Symphony Orchestra in Ohio were he had stayed for one year and was on the substitution list for the Columbus Symphony Orchestra. Missing the variety of work in his hometown region of Baltimore and Washington, DC, Chris moved back and toured with Heifetz and the Classical Band for about 3 years performing all across the Nation and Canada at major venues. Currently Chris lives in between Baltimore and Washington, DC where he is in high demand as an active contracted musician and teacher performing on both Upright bass and Electric bass in all genres of music, having performed along side of such well noted artists as Tony Bennett, Josh Groban, Lady Gaga, Andrea Bocelli and various others.
	  			</p>
	  			<p><i>Robby Burns</i></p>
	  			<img src="<%= asset_path( 'robby.png' ) %>" width="240" border="0" align="left" style="padding:12px"/>
	  			<p>
Robby Burns is a music educator and freelance percussionist residing in the Baltimore-DC Metro area.<br>

He is an employee of the Howard County Public School System where he is the Director of Bands at Lake Elkhorn Middle School. Outside of public education, he teaches private drum set and percussion lessons out of his home studio. He is regularly called upon as a judge, adjudicator, arranger, ensemble coach, and clinician.<br><br>

Since 2014, Robby has served as the Music Technology Chair for the Maryland Music Educators Association. He has also presented several sessions at MMEA conferences concentrating on the use of music production software, cloud services, Apple products and their connection to productivity and creativity in the music classroom. <br><br>

As a freelance percussionist, Robby is comfortable with all styles, specifically including orchestral, musical theater, opera, chamber, rock and jazz. He has performed with the Signature Theatre, Studio Theatre, Opera Camerata of Washington, D.C. and the Baltimore Symphony Orchestra under such conductors Marin Aslop and Lorin Maazel. Robby has also worked with a variety of local music projects including rock cello quartet, Primitivity, and nine-piece funk band, The Superland Stage Band.<br><br>

Robby holds a Bachelor of Music Education and Masters of Music from the University of Maryland, College Park, where he studied orchestral percussion with Tony Ames (NSO) and timpani with John Tafoya and Benjamin Ramierez (both former NSO). He has also benefited from the instruction of Steve Fidyk (Army Blues Band) and Janis Potter (solo marimba artist). During his time at UMCP he also devoted attention towards orchestration, conducting and jazz arranging.<br><br>
	  			</p>
	  			<p><i>Jake Kohlhas</i></p>
	  			<img src="<%= asset_path( 'jake.jpg' ) %>" width="240" border="0" align="left" style="padding:12px"/>
	  			<p>
Jake Kohlhas is a guitarist and teacher in the Baltimore-DC Metro area. He has played in venues all over Baltimore city such as The 8x10, Rams Head Live, Terra Café, Now Child Soundstage, and The Wind Up Space. He has also played on college campuses in Connecticut, Virginia, and Colorado. Jake has shared the stage with national acts such as Kindred the Family Soul, Lubriphonic, Asheru, Marc Evans, Love the Poet; and local acts such as Brown F.I.S.H., Axiom, The 5th L, Soul Cannon and national figures such as actor Matt Damon.<br><br>In addition to playing with various musical groups in the Balitmore-DC Metro area, Jake plays with the Baltimore-based band J Pope. 
	  			</p>
	  		</h4>
	  		<br>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div>



