<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Alternate Google Webfonts -->
		<!-- //@import url(href='http://fonts.googleapis.com/css?family=Arvo:400,700');
		//@import url(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great');
		//@import url(href='http://fonts.googleapis.com/css?family=Bree+Serif');
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">MUSIC</a></li>
        <li><a href="#">EMAIL</a></li>
        <li><a href="#">OTHER MEDIA </a></li>
        <li><a href="#">PERSONNEL</a></li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<div class="slide1">
	<div style="height: 200px">
	</div>
		<h1 class="bandname">HOTTER THAN THAT</h1>
		<div class="subheading">
				<i>A Traditional Jazz Ensemble</i>
			</div>	
</div>

	<div class="container">
	  <div class="row">
	  	<div class="col-md-1">
	  	</div>
			<div class="col-md-11">
	  		<h3 class="titletext">I CAN'T GIVE YOU ANYTHING BUT LOVE</h3>
	  		<br>
	  		<h4 class="bodytext">
	  			<i>by Jimmy McHugh and Dorothy Fields</i>
	  		</h4>
	  		<br>
			</div> 
		</div>
	</div>
	
	 <!-- <div class="container">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<div class='embed-container'>
					<iframe src='http://www.youtube.com/embed/3HuFf7medyA' frameborder='0' allowfullscreen="true">
					</iframe>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div> -->

	<div class="container">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<div class="embed-responsive embed-responsive-16by9">
  				<iframe width="560" height="315" src="//www.youtube.com/embed/awp1WmNs0ZM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div> 

<div class="slide3">
	<div class="container">
	  <div class="row">
			
			<div class="col-md-1">
			</div>			
			
			<div class="col-md-10" style="padding-top: 70px">
				<h3 class="titletext" style="color: white;">EMAIL</h3>
	  		<br>
	  		<h4 class="bodytext" style="color: white;">
	  			<i>For inquiries regarding booking, feedback, or anything else.</i>
	  		</h4>
	  		<br>
	  		<h4 class="titletext" style="color: white;">
	  			hotterthanthatmusic@gmail.com
	  		</h4>
	  		<br>
			</div>
			
			<div class="col-md-1">
			</div>
		</div>  
	</div>
</div>

	<div class="container">
	  <div class="row">
			<div class="col-md-1">
			</div>			
			<div class="col-md-10">
				<h3 class="titletext">OTHER MEDIA</h3>
	  		<br>
	  		<h4 class="bodytext">
	  			<i>Visit us on Facebook, Twitter, and YouTube.</i>
	  		</h4>
	  		<br>
			</div>
			<div class="col-md-1">
			</div>
		</div>  
	</div>


	<div class="container" style="margin-bottom: 70px">
	  <div class="row">

			<div class="col-md-3">
			</div>
			
			<div class="col-md-6">
				<div class="glyphs">
		  		<a href="https://www.facebook.com/hotterthanthatmusic" class="FBglyphLinks"><i class="fa fa-facebook-square fa-5x"></i></a>
		  		
		  		<a href="https://twitter.com/HTTmusic" class="TWglyphLinks"><i class="fa fa-twitter-square fa-5x"></i></a>
		  		
		  		<a href="https://www.youtube.com/watch?v=awp1WmNs0ZM" class="YTglyphLinks"><i class="fa fa-youtube-square fa-5x"></i></a>
		  	</div>	
		  </div>
		  
		  <div class="col-md-3">
		  </div>

		</div>  
	</div> 




